<ion-content padding text-center>

    <ion-grid>

        <ion-row>
            <ion-col class="top-20">

                <img src="assets/imgs/Logo_IG_blanco.png">

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-20">

                <h3>Inicio de Sesión</h3>

            </ion-col>
        </ion-row>

        <ion-list inset>

          <ion-item>
            <ion-label><ion-icon ios="ios-contact" md="md-contact" item-left></ion-icon></ion-label>
            <!-- <ion-label color="primary">Usuario</ion-label> -->
            <ion-input placeholder="USUARIO" [(ngModel)]="usuario" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon ios="ios-lock" md="md-lock" item-left></ion-icon></ion-label>
            <!-- <ion-label color="primary">Contraseña</ion-label> -->
            <ion-input [(ngModel)]="contrasena" placeholder="CONTRASEÑA" type="password"></ion-input>
          </ion-item>

        </ion-list>

        <button ion-button block large icon-end (click)='ingresar()'>
          Iniciar Sesión
          <ion-icon name="log-in">
          </ion-icon>
        </button>

    </ion-grid>



</ion-content>

<ion-footer  text-center>
  <h6 style='color: white'>Diseñado por Luis Paz</h6>
</ion-footer>

