<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
    <ion-buttons>
     <button color="light" outline ion-button icon-only navPop>
       <ion-icon name="close"></ion-icon>
     </button>
   </ion-buttons>
   <ion-buttons end>
    <button [disabled]='!hallazgo || !coord_x || !coord_y || !sexo || !pregunta1'  (click)='guardarEncuesta()' color="light" outline ion-button>
      Guardar
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Hallazgo</ion-label>
      <ion-input [(ngModel)]="hallazgo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Sexo</ion-label>
      <ion-select [(ngModel)]="sexo" interface='popover'>
        <ion-option value="masculino">Masculino</ion-option>
        <ion-option value="femenino">Femenino</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="sexo">
      <ion-label *ngIf="sexo =='masculino'" floating>Consola que tienen</ion-label>
      <ion-select [(ngModel)]="pregunta1" *ngIf="sexo =='masculino'" interface='popover'>
        <ion-option value="PS4">PS4</ion-option>
        <ion-option value="Xbox One">Xbox One</ion-option>
        <ion-option value="Nintendo Switch">Nintendo Switch</ion-option>
      </ion-select>
      <ion-label *ngIf="sexo =='femenino'" floating>Juego Favorito</ion-label>
      <ion-select [(ngModel)]="pregunta1" *ngIf="sexo =='femenino'" interface='popover'>
        <ion-option value="Candy Crush">Candy Crush</ion-option>
        <ion-option value="Where is my water">Where is my water</ion-option>
        <ion-option value="Andry Birds">Andry Birds</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Coordenada X</ion-label>
            <ion-input [(ngModel)]="coord_x" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Coordenada Y</ion-label>
            <ion-input [(ngModel)]="coord_y" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button block ion-button color="secondary" (click)='geolocalizar()'>
            <ion-icon name="locate"></ion-icon>
            Iniciar Geolocalización
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  <button [disabled]='!hallazgo || !coord_x || !coord_y || !sexo || !pregunta1' (click)='guardarEncuesta()' ion-button block color='primary' name="button">Guardar</button>
</ion-content>
