<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
<!-- 
      <ion-list-header [style.font-size.px]=' _cp.font_size '>
        Coordenada X
      </ion-list-header>
      <ion-item [style.font-size.px]=' _cp.font_size '>{{ estructura_encuesta[0]['coordenada x'] }}</ion-item>


      <ion-list-header [style.font-size.px]=' _cp.font_size '>
        Coordenada Y
      </ion-list-header>
      <ion-item [style.font-size.px]=' _cp.font_size '>{{estructura_encuesta[0]['coordenada y'] }}</ion-item> -->

      <ion-grid>
        <ion-row *ngFor="let respuesta of estructura_encuesta[0]['campos']">
          <ion-list-header [style.font-size.px]=' _cp.font_size '>
            {{ respuesta.campo }}
          </ion-list-header>
          <ion-item [style.font-size.px]=' _cp.font_size '>{{ respuesta.value }}</ion-item>
        </ion-row>
      </ion-grid>

    </ion-list>
</ion-content>
