<ion-tabs color='nav-bar'>
  <ion-tab tabIcon="chatbubbles" tabTitle="Encuestas" [root]="tab1Root" tabBadge="{{ _ep.encuestas.length }}" tabBadgeStyle="danger"></ion-tab>
  <!-- <ion-tab tabIcon="heart" tabTitle="Pruebas" [root]="tab3Root"></ion-tab> -->
  <ion-tab tabIcon="send" tabTitle="Enviadas" [root]="tab2Root"></ion-tab>
  <ion-tab tabIcon="download" tabTitle="Descargar" [root]="tab3Root"></ion-tab>
  <ion-tab tabIcon="settings" tabTitle="Configuración" [root]="tab4Root"></ion-tab>
</ion-tabs>
