<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <button ion-item *ngFor="let notificacion of _pp.notificaciones| slice:0:10; let ind=index;" >
        {{ notificacion.contents.en }}
      </button>
    </ion-list>
</ion-content>
