<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title text-center>
        <img  height="40"  src="assets/imgs/Logo_IG_blanco.png"/>
        <br>
        Previsualización
    </ion-title>
    <ion-buttons end>
     <button *ngIf="tipo_encuesta == 'descargar'" ion-button item-end icon-start (click) = '_ep.guardarEncuestasDescargadas( encuesta_preview )' navPop>
       <ion-icon name="download"></ion-icon>
       Descargar
     </button>
     <button *ngIf="tipo_encuesta == 'descargada'" color='danger' ion-button item-end icon-start (click) = '_ep.removeEncuestaDescargada( idx )' navPop>
       <ion-icon name="trash"></ion-icon>
       Eliminar
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h5 text-center>{{ encuesta_preview.tema }}</h5>
  <h6 text-center>Código: {{ encuesta_preview.codigo }}</h6>
  <h6 text-center>Período: {{ encuesta_preview.fecha_inicial }} a {{ encuesta_preview.fecha_final }}</h6>

  <ion-grid>
    <ion-row *ngFor="let pregunta of encuesta_preview.campos">
      <ion-list-header [style.font-size.px]=' _cp.font_size '>
        {{ pregunta.campo }}
      </ion-list-header>
    </ion-row>
  </ion-grid>
</ion-content>
