<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title text-center>

        <img  height="40"  src="assets/imgs/Logo_IG_blanco.png"/>
        <br>
        <div *ngIf="encuestas_para_descargar">
          Descargar Encuestas
        </div>
        <div *ngIf="encuestas_descargadas">
          Encuestas Descargadas
        </div>

    </ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)='presentActionSheet()'>
       <ion-icon name="options"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-list *ngIf="encuestas_para_descargar">
    <ion-row *ngFor="let encuesta of _ep.encuestas_descargar; let i = index;">
      <ion-item *ngIf=" !_ep.encuestas_descargadas_idx.includes( encuesta.id )">
        <ion-thumbnail item-start>
          <img [src]="encuesta.imagen">
        </ion-thumbnail>
        <h2>{{ encuesta.tema }}</h2>
        <p>{{ encuesta.codigo }}</p>
        <button style='height: 50px;' ion-button outline item-end (click)='previsualizarEncuesta( i, "descargar" )' icon-end>Ver<ion-icon name="eye"></ion-icon></button>
      </ion-item>
    </ion-row>
  </ion-list>

  <ion-list *ngIf="encuestas_descargadas">
    <ion-row *ngFor="let encuesta of _ep.encuestas_descargadas; let i = index;">
      <ion-item >
        <ion-thumbnail item-start>
          <img [src]="encuesta.imagen">
        </ion-thumbnail>
        <h2>{{ encuesta.tema }}</h2>
        <p>{{ encuesta.codigo }}</p>
        <button style='height: 50px;' ion-button outline item-end (click)='previsualizarEncuesta( i, "descargada" )' icon-end>Ver<ion-icon name="eye"></ion-icon></button>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>
