<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
    <ion-buttons end>
      <button color="light" outline ion-button (click)='guardarCoordenadas();'>
        <!-- <ion-icon name="close"></ion-icon> -->
        Guardar
      </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map" style="width:100%; height:100%;"></div>
</ion-content>
