<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title text-center>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
    <ion-buttons>
     <!-- <button color="light" outline ion-button icon-only navPop>
       <ion-icon name="close"></ion-icon>
     </button> -->
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-row *ngFor="let encuesta of _ep.encuestas_descargadas; let i = index;">
      <ion-item >
        <ion-thumbnail item-start>
          <img [src]="encuesta.imagen">
        </ion-thumbnail>
        <h2>{{ encuesta.tema }}</h2>
        <p>{{ encuesta.codigo }}</p>
        <button [disabled]='encuesta.fecha_final < current_date' style='height: 50px;' ion-button outline item-end icon-end (click)='realizarEncuesta( i )'>Elegir<ion-icon name="add-circle"></ion-icon></button>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>
