<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>

      <ion-list-header [style.font-size.px]=' _cp.font_size '>
        Coordenada X
      </ion-list-header>
      <ion-item [style.font-size.px]=' _cp.font_size '>{{ encuesta_detalle['coordenada x'] }}</ion-item>


      <ion-list-header [style.font-size.px]=' _cp.font_size '>
        Coordenada Y
      </ion-list-header>
      <ion-item [style.font-size.px]=' _cp.font_size '>{{ encuesta_detalle['coordenada y'] }}</ion-item>

      <ion-grid>
        <ion-row *ngFor="let respuesta of encuesta_detalle.respuestas">
          <ion-list-header [style.font-size.px]=' _cp.font_size '>
            {{ respuesta.campo }}
          </ion-list-header>
          <ion-item [style.font-size.px]=' _cp.font_size '>{{ respuesta.respuesta }}</ion-item>
        </ion-row>
      </ion-grid>

    </ion-list>

  <!-- <ion-grid>
    <ion-row *ngFor="let campo of estructura_encuesta; let i = index;">

      <ion-col col-12 *ngIf="campo.tipo == 'texto'">
        <ion-item>
          <ion-label floating>{{campo.campo}}</ion-label>
          <ion-input disabled maxlength="{{campo.max_length}}" minlength="{{campo.min_length}}" [(ngModel)]="encuesta_detalle[campo.campo]" type="text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo == 'combobox' && campo.depende && encuesta_detalle[estructura_encuesta[campo.depende].campo] == campo.dependencia">
        <ion-item>
          <ion-label floating>{{campo.campo}}</ion-label>
          <ion-select disabled [(ngModel)]="encuesta_detalle[campo.campo]" interface='popover'>
            <ion-option *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo == 'combobox' && !campo.depende">
        <ion-item>
          <ion-label floating>{{campo.campo}}</ion-label>
          <ion-select disabled [(ngModel)]="encuesta_detalle[campo.campo]" interface='popover'>
            <ion-option *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col [(ngModel)]="encuesta_detalle[campo.campo]" radio-group col-12 *ngIf="campo.tipo == 'radio' && !campo.depende">
        <ion-list-header>
          {{campo.campo}}
        </ion-list-header>

        <ion-item *ngFor="let respuesta of campo.respuestas">
          <ion-label>{{respuesta}}</ion-label>
          <ion-radio disabled value="{{respuesta}}">{{respuesta}}</ion-radio>
        </ion-item>
      </ion-col>

      <ion-col [(ngModel)]="encuesta_detalle[campo.campo]" radio-group col-12 *ngIf="campo.tipo == 'radio' && campo.depende && encuesta_detalle[estructura_encuesta[campo.depende].campo] == campo.dependencia">
        <ion-list-header>
          {{campo.campo}}
        </ion-list-header>

        <ion-item *ngFor="let respuesta of campo.respuestas">
          <ion-label>{{respuesta}}</ion-label>
          <ion-radio disabled value="{{respuesta}}">{{respuesta}}</ion-radio>
        </ion-item>
      </ion-col>

      <ion-col text-center col-12 *ngIf="campo.tipo == 'imagen' && !campo.depende">
        <ion-label>{{campo.campo}}</ion-label>
        <ion-item *ngIf="campo.value">
          <img [src]="campo.value">
        </ion-item>
        <ion-col col-4>
          <button disabled ion-button icon-start (click)="mostrar_camara( i )">
            <ion-icon name="camera"></ion-icon>
            Cámara
          </button>
        </ion-col>
        <ion-col col-4>
          <button disabled ion-button icon-start (click)="seleccionar_foto(i)">
            <ion-icon name="folder"></ion-icon>
            Archivo
          </button>
        </ion-col>
        <ion-col col-4>
          <button disabled color='danger' ion-button icon-start (click)="borrarFoto(i)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-col>
      </ion-col>

      <ion-col text-center col-12 *ngIf="campo.tipo == 'imagen' &&  campo.depende && encuesta_detalle[estructura_encuesta[campo.depende].campo] == campo.dependencia">
        <ion-label>{{campo.campo}}</ion-label>
        <ion-item *ngIf="campo.value">
          <img [src]="campo.value">
        </ion-item>
        <ion-col col-4>
          <button disabled ion-button icon-start (click)="mostrar_camara( i )">
            <ion-icon name="camera"></ion-icon>
            Cámara
          </button>
        </ion-col>
        <ion-col col-4>
          <button disabled ion-button icon-start (click)="seleccionar_foto(i)">
            <ion-icon name="folder"></ion-icon>
            Archivo
          </button>
        </ion-col>
        <ion-col col-4>
          <button color='danger' ion-button icon-start (click)="borrarFoto(i)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-col>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo == 'geo' && !campo.depende">
        <ion-label>{{campo.campo}}</ion-label>
        <ion-col col-6>
          <ion-input disabled placeholder="X" [(ngModel)]="campo.x" type="text"></ion-input>
        </ion-col>
        <ion-col col-6>
          <ion-input disabled placeholder="Y" [(ngModel)]="campo.y" type="text"></ion-input>
        </ion-col>
        <ion-col col-12>
          <button block ion-button color="secondary" (click)='geolocalizar( i )'>
            <ion-icon name="locate"></ion-icon>
            Iniciar Geolocalización
          </button>
        </ion-col>
      </ion-col>

    </ion-row>

  </ion-grid> -->
</ion-content>
