<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title text-center>
        <img  height="40"  src="assets/imgs/Logo_IG_blanco.png"/>
        <!-- <br>
        Descargar Encuestas -->
    </ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)='presentActionSheet()'>
       <ion-icon name="options"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 text-center >{{title}}</h1>
  <ion-list class="top-5">
    <ion-item-sliding *ngFor="let encuesta of _ep.encuestas_enviadas; let i = index">
      <ion-item >
        <ion-checkbox [(ngModel)]="seleccionados[i]" *ngIf="modificar" color="primary"></ion-checkbox>
        <ion-thumbnail item-start>
          <img src="assets/imgs/check-2.png">
        </ion-thumbnail>
        <h2><strong>{{i+1}}</strong> <!--{{encuesta.cliente['nombre']}}--></h2>
        <p>{{encuesta.cliente_id}}</p>
        <button style='height: 50px;' ion-button outline item-end (click)='mostrarEncuestaDetalle(i)' icon-end>Ver<ion-icon name="eye"></ion-icon></button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
