<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title>
      <img height="40" src="assets/imgs/Logo_IG_blanco.png"/>
    </ion-title>
    <ion-buttons>
     <!-- <button color="light" outline ion-button icon-only navPop>
       <ion-icon name="close"></ion-icon>
     </button> -->
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let campo of encuestas.campos; let i = index;">

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'text' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-input [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" type="text"></ion-input>
        </ion-item>
      </ion-col>

      <!-- <ion-col col-12 *ngIf="campo.tipo_pregunta == 'text' && campo.depende">
        <ion-item *ngIf="campo.dependencias.includes(encuestas.campos[dependencias.indexOf(campo.depende)].value )">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-input [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" type="text"></ion-input>
        </ion-item>
      </ion-col> -->

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'text' && campo.depende">
        <ion-item *ngIf="campo.dependencias | arrayinclude: encuestas.campos[dependencias.indexOf(campo.depende)].value; else cleanField(i)">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-input [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" type="text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'integer' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-input [style.font-size.px]=' _cp.font_size ' maxlength="{{campo.max_length}}" minlength="{{campo.min_length}}" [(ngModel)]="campo.value" type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'integer' && campo.depende && campo.dependencias.includes(encuestas.campos[dependencias.indexOf(campo.depende)].value)">d
        <ion-item>
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-input [style.font-size.px]=' _cp.font_size ' maxlength="{{campo.max_length}}" minlength="{{campo.min_length}}" [(ngModel)]="campo.value" type="number"></ion-input>
        </ion-item>
      </ion-col>

      <!-- <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_one [list_name]' && campo.depende && campo.dependencias.includes(encuestas.campos[dependencias.indexOf(campo.depende)].value)">
        <ion-item>
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col> -->

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_one [list_name]' && campo.depende">
        <ion-item *ngIf="campo.dependencias | arrayinclude: encuestas.campos[dependencias.indexOf(campo.depende)].value; else cleanField(i)">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_one [list_name]' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]='_cp.font_size' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <!-- Comienzo de delect departamentos -->
      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'depto' && campo.depende">
        <ion-item *ngIf="campo.dependencias | arrayinclude: encuestas.campos[dependencias.indexOf(campo.depende)].value; else cleanField(i)">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let depto of departamentos" value="{{depto}}">{{depto}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'depto' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]='_cp.font_size' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let depto of departamentos" value="{{depto}}">{{depto}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Fin de select departamentos -->

       <!-- Comienzo de select municipios -->
       <ion-col col-12 *ngIf="campo.tipo_pregunta == 'muni' && campo.depende">
        <ion-item *ngIf="encuestas.campos[dependencias.indexOf(campo.depende)].value; else cleanMunicipio(i)">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let muni of municipios[encuestas.campos[dependencias.indexOf(campo.depende)].value]" value="{{muni}}">{{muni}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'muni' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]='_cp.font_size' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet'>
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let muni of municipios[encuestas.campos[dependencias.indexOf(campo.depende)].value]" value="{{muni}}">{{muni}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Fin de select municipios -->

      <!-- Comienzo multiple select -->

      <!-- <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_multiple [list_name]' && campo.depende && campo.dependencias.includes(encuestas.campos[dependencias.indexOf(campo.depende)].value)">
        <ion-item>
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet' multiple="true">
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col> -->

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_multiple [list_name]' && campo.depende ">
        <ion-item *ngIf="campo.dependencias |  arrayinclude: encuestas.campos[dependencias.indexOf(campo.depende)].value; else cleanField(i)">
          <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet' multiple="true">
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_multiple [list_name]' && !campo.depende">
        <ion-item>
          <ion-label [style.font-size.px]='_cp.font_size' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
          <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet' multiple="true">
            <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Fin Multiple select -->

           <!-- Comienzo select multiple con detalle -->
           <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_multiple [detail]' && campo.depende ">
              <ion-item *ngIf="campo.dependencias |  arrayinclude: encuestas.campos[dependencias.indexOf(campo.depende)].value">
                <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
                <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet' multiple="true">
                  <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta.respuesta}}">{{respuesta.respuesta}}</ion-option>
                </ion-select>
              </ion-item>
      
              <ion-col col-12 *ngFor="let respuesta of campo.respuestas">
                <div *ngIf="respuesta.respuesta | arrayinclude: campo.value">
                  <h5>{{respuesta.respuesta}}</h5>
                  <ion-item *ngFor="let detalle of respuesta.detalles">
                    <ion-label [style.font-size.px]=' _cp.font_size ' floating>{{ i+1 }}.- {{detalle.campo_detalle}}</ion-label>
                    <ion-input [style.font-size.px]=' _cp.font_size ' [(ngModel)]="detalle.value" type="number"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
      
            </ion-col>
      
           
      
            <ion-col col-12 *ngIf="campo.tipo_pregunta == 'select_multiple [detail]' && !campo.depende">
              <ion-item>
                <ion-label [style.font-size.px]='_cp.font_size' floating>{{ i+1 }}.- {{campo.campo}}</ion-label>
                <ion-select [style.font-size.px]=' _cp.font_size ' [(ngModel)]="campo.value" interface='action-sheet' multiple="true">
                  <ion-option [style.font-size.px]=' _cp.font_size ' *ngFor="let respuesta of campo.respuestas" value="{{respuesta}}">{{respuesta}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <!-- Final select multiple com detalle-->

      <ion-col text-center col-12 *ngIf="campo.tipo_pregunta == 'image' && !campo.depende">
        <ion-label [style.font-size.px]=' _cp.font_size '>{{campo.campo}}</ion-label>
        <ion-item *ngIf="campo.value">
          <img [src]="campo.value">
        </ion-item>
        <ion-col col-4>
          <button [style.font-size.px]=' _cp.font_size ' ion-button icon-start (click)="mostrar_camara( i )">
            <ion-icon name="camera"></ion-icon>
            Cámara
          </button>
        </ion-col>
        <ion-col col-4>
          <button [style.font-size.px]=' _cp.font_size ' ion-button icon-start (click)="seleccionar_foto(i)">
            <ion-icon name="folder"></ion-icon>
            Archivo
          </button>
        </ion-col>
        <ion-col col-4>
          <button [style.font-size.px]=' _cp.font_size ' color='danger' ion-button icon-start (click)="borrarFoto(i)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-col>
      </ion-col>

      <ion-col text-center col-12 *ngIf="campo.tipo_pregunta == 'image' &&  campo.depende &&  campo.dependencias.includes(encuestas.campos[dependencias.indexOf(campo.depende)].value)">
        <ion-label [style.font-size.px]=' _cp.font_size '>{{campo.campo}}</ion-label>
        <ion-item *ngIf="campo.value">
          <img [src]="campo.value">
        </ion-item>
        <ion-col col-4>
          <button [style.font-size.px]=' _cp.font_size ' ion-button icon-start (click)="mostrar_camara( i )">
            <ion-icon name="camera"></ion-icon>
            Cámara
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-start (click)="seleccionar_foto(i)">
            <ion-icon name="folder"></ion-icon>
            Archivo
          </button>
        </ion-col>
        <ion-col col-4>
          <button color='danger' ion-button icon-start (click)="borrarFoto(i)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-col>
      </ion-col>

      <!-- <ion-col col-12 *ngIf="campo.tipo_pregunta == 'geopoint' && !campo.depende">
        <ion-label [style.font-size.px]=' _cp.font_size '>{{ campo.index }}.- {{campo.campo}}</ion-label>
        <ion-col col-6>

          <ion-input [style.font-size.px]=' _cp.font_size ' placeholder="X" [(ngModel)]="campo.x" type="text"></ion-input>
        </ion-col>
        <ion-col col-6>

          <ion-input [style.font-size.px]=' _cp.font_size ' placeholder="Y" [(ngModel)]="campo.y" type="text"></ion-input>
        </ion-col>
        <ion-col col-12>
          <button block ion-button color="secondary" (click)='geolocalizar( i );'>
            <ion-icon name="locate"></ion-icon>
            Iniciar Geolocalización
          </button>
          <button block ion-button color="primary" [disabled] = 'disable_button' (click)='mostrarModalMapa( i );'>
            <ion-icon name="map"></ion-icon>
            Mostrar Mapa
          </button>
        </ion-col>
      </ion-col> -->

    </ion-row>

    <ion-col col-12>
      <ion-label [style.font-size.px]=' _cp.font_size '>Coordenadas</ion-label>
      <ion-col col-6>
        <!-- <ion-label>X</ion-label> -->
        <ion-input [style.font-size.px]=' _cp.font_size ' placeholder="X" [(ngModel)]="encuestas.x" type="text"></ion-input>
      </ion-col>
      <ion-col col-6>
        <!-- <ion-label>Y</ion-label> -->
        <ion-input [style.font-size.px]=' _cp.font_size ' placeholder="Y" [(ngModel)]="encuestas.y" type="text"></ion-input>
      </ion-col>
      <ion-col col-12>
        <button block ion-button color="secondary" (click)='geolocalizar( i );'>
          <ion-icon name="locate"></ion-icon>
          Iniciar Geolocalización
        </button>
        <button block ion-button color="primary" [disabled] = 'disable_button' (click)='mostrarModalMapa( i );'>
          <ion-icon name="map"></ion-icon>
          Mostrar Mapa
        </button>
      </ion-col>
    </ion-col>

  </ion-grid>

  <button (click)='guardarEncuesta()' ion-button block large color='primary' name="button">Guardar</button>

</ion-content>
