<ion-header>
  <ion-navbar color='nav-bar'>

     <button *ngIf="_ep.encuestas.length > 0" color="light" (click) = 'modificar = !modificar' outline ion-button icon-only>
       <ion-icon name="create"></ion-icon>
     </button>

    <ion-title text-center>

        <img  height="40"  src="assets/imgs/Logo_IG_blanco.png"/>
        <br>
        Encuestas

    </ion-title>
    <ion-buttons *ngIf="modificar" end>
     <button ion-button icon-only (click)='presentActionSheet()'>
       <ion-icon name="options"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 text-center >Encuestas Sin Enviar</h1>
  <ion-list class="top-5">
    <ion-item-sliding *ngFor="let encuesta of _ep.encuestas; let i = index">
      <ion-item >
        <ion-checkbox [(ngModel)]="seleccionados[i]" *ngIf="modificar" color="primary"></ion-checkbox>
        <ion-thumbnail item-start>
          <img src="assets/imgs/list.png">
        </ion-thumbnail>
        <h2><strong>{{i+1}}</strong> <!--{{encuesta.cliente['nombre']}}--></h2>
        <p>{{encuesta.cliente_id}}</p>
        <!-- <button style='height: 50px;' ion-button outline item-end (click)='mostrarEncuestaDetalle(i)' icon-end>Ver <ion-icon name="eye"></ion-icon></button> -->
        <button style='height: 50px;' ion-button item-end (click)='enviarEncuesta(i)' color='secondary' icon-end>Enviar <ion-icon name="send"></ion-icon></button>
      </ion-item>
      <ion-item-options side="right" >
        <button ion-button color='danger' expandable (click)='borrarEncuesta(i)'>
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
   <button (click)='mostrarModalEncuesta()' ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!-- <ion-fab left bottom>
   <button (click)='mostrarModalMapa()' ion-fab color="primary"><ion-icon name="map"></ion-icon></button>
  </ion-fab> -->
</ion-content>
