<ion-header>
  <ion-navbar color='nav-bar'>
    <ion-title text-center>
        <img  height="40"  src="assets/imgs/Logo_IG_blanco.png"/>
        <br>
        Configuración
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Tamaño de Letra</ion-label>
      <ion-badge item-end>{{_cp.font_size}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-range min="10" max="40" step="2" snaps="true" [(ngModel)]="_cp.font_size">
        <ion-icon small range-left name="at"></ion-icon>
        <ion-icon range-right name="at"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label [style.font-size.px]=' _cp.font_size | domseguro'>Ejemplo de Tamaño</ion-label>
    </ion-item>

    <ion-item>
      <button color='danger' ion-button icon-end block large (click)='cerraSesion()'>
        Cerrar Sesión
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer  text-center>
  <h6 style='color: black'>Diseñado por Luis Paz</h6>
</ion-footer>
